*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    padding: .2em;
    font-size: 2em;
    text-align: center;
    -moz-appearance: textfield;
    display: flex;
}

#input_number:valid{
    border-width: 5px;
    border-style: solid;
    border-color:rgb(50, 158, 161);
    color: rgb(50, 158, 161);
    background-color: rgb(231, 241, 241);
}

#input_number:invalid{
    background-color: crimson;
    color: white;
}

#input_number_2:optional{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 139, 30);
}

#input_number_2:in-range{
    background-color: rgb(135, 245, 184);
    color: rgb(19, 48, 32);
}

#input_number_2:out-of-range{
    background-color: rgb(245, 145, 145);
    color: rgb(58, 14, 14);
    border-color: rgb(58, 14, 14);
}